<div class="main">
	<div class="main__content">
		<h1 class= "title">マネーチャイルド</h1>
		<div class="menu" >・かんたんモード</div>
		<div class="list">
			<%= link_to "おしごとせってい", :incomes, class:"list__main"%>
			<%= link_to "つかったお金せってい", :fixedcosts, class:"list__main" %>
			<%= link_to "ボーナスせってい", :variablecosts,class:"list__main" %>
  	</div>
		<div class="menu2">・ほんかくモード</div>
		<div class="list">
			<%= link_to "お仕事とうろく", :income_values,class:"list__main" %>
			<%= link_to "お仕事とうろく", :new_income_value,class:"list__main" %>
			

 	</div>
</div>