<%= link_to "おしごといちらんにもどる", :incomes , class:"link-btn"%>
<table align="center">
 <tr>
	 <th><%= form.label :name, "なまえ",class:"edit-name" %></th>
	 <th><%= form.text_field :name,class:"edit-name"%></th>
 </tr>
 <tr>
  <th><%= form.label :description, "ないよう", class:"edit-much"%></th>
	<th><%= form.text_field :description,class:"edit-much" %></th>
 </tr>
</table>