<div class="incomes-image">
	<div class="incomes-main">
		<h1 class="title">おしごといちらん</h1>
		<h2 class="menu">メニュー</h2>
		<%= link_to "おしごととうろくしよう！", :new_income, class:"link-btn" %>
		<%= link_to "さいしょのがめんにもどるよ", :root, class:"link-btn"%>
		<% if @incomes.present? %>
		<table  border="1" width="100%" style="table-layout: fixed;">
				<ul class="list">
					<li class="list__name">おしごと</li>
					<li class="list__name">ないよう</li>
      		<li class="list__name">そうさ</li>
				</ul>
			<tbody >
				<% @incomes.each do |income| %>
					<tr>
						<td class="abc" ><%= income.name %></td>
						<td class="abc"><%= income.description %></td>
        		<td>
						<%= link_to "へんしゅう", [:edit, income], class:"link-btn"%>
        		<%= link_to "さくじょ", income, method: :delete, class:"link-btn",
						data: { confirm: "ほんとうにけしていい？"} %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
 
<% else %>
	<p>おしごとはないよ！おとうさん、おかあさんにきいてみよう</p>
<% end %>