<div class="incomes-image">
	<div class="incomes-main">
		<h1 class="title-rainbow">おしごとのいちらん</h1>
		<h2 class="menu">メニュー</h2>
		<%= link_to "おしごととうろくしよう！", :new_income, class:"link-btn incomes-btn" %>
		<%= link_to "さいしょのがめんにもどるよ", :root, class:"link-btn incomes-btn"%>
		<% if @incomes.present? %>
		<table  border="1" width="100%" style="table-layout: fixed;">
				
				<div class="overflow-hide">
					<button class="list__name list-1 button">おしごと</button>
					<button class="list__name list-2 button">ないよう/ねだん</button>
      		<button class="list__name list-3 button">そうさ</button>
				</div>	
				
			<tbody >
				<% @incomes.each do |income| %>
					<tr>
						<td class="abc" ><%= income.name %></td>
						<td class="abc"><%= income.description %></td>
        		<td class="abc">
						<%= link_to "へんしゅう", [:edit, income], class:"link-btn1"%>
        		<%= link_to "さくじょ", income, method: :delete, class:"link-btn1",
						data: { confirm: "ほんとうにけしていい？"} %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
 
<% else %>
	<p>おしごとはないよ！おとうさん、おかあさんにきいてみよう</p>
<% end %>