<%= link_to "ボーナスのとうろくにもどる", :variablecosts,class:"link-btn" %>
<table align="center">
 <tr>
	 <th><%= form.label :name, "かもく",class:"new-name" %></th>
	 <td><%= form.text_field :name,class:"new-name" %></td>
 </tr>
 <tr>
  <th><%= form.label :description, "いくら",class:"new-much" %></th>
	<td><%= form.text_field :description,class:"new-much" %></td>
 </tr>
</table>
