<%= link_to "ボーナスのとうろくにもどる", :variablecosts %>
<table>
 <tr>
	 <th><%= form.label :name, "かもく" %></th>
	 <td><%= form.text_field :name %></td>
 </tr>
 <tr>
  <th><%= form.label :description, "いくら" %></th>
	<td><%= form.text_field :description %></td>
 </tr>
</table>
