<div class="variablecosts-image">
	<div class="variablecosts-main">
		<h1 class="title title-rainbow">ボーナスのとうろく</h1>
		<h2 class="menu">メニュー</h2>
		<%= link_to "ボーナスとうろく", :new_variablecost,class:"link-btn" %>
		<%= link_to "さいしょのがめんにもどるよ", :root,class:"link-btn" %>
		<% if @variablecosts.present? %>
		<table  border="1" width="100%" style="table-layout: fixed;">
				<div class="overflow-hide">
					<button class="list__name list-1 button">おしごと</button>
					<button class="list__name list-2 button">ないよう/ねだん</button>
      		<button class="list__name list-3 button">そうさ</button>
				</div>
			<tbody>
				<% @variablecosts.each do |variablecost| %>
					<tr>
						<td class="list-record"><%= variablecost.name %></td>
						<td calss="list-record"><%= variablecost.description %></td>
						<td>
						<%= link_to "へんしゅう", [:edit, variablecost],class:"link-btn2" %>
						<%= link_to "さくじょ", variablecost, method: :delete,class:"link-btn2",
							data: { confirm: "ほんとうにけしていい？"} %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
	
	<% else %>
		<p>まだボーナスはないよ！</p>
	<% end %>