<div class="variablecosts-image">
	<div class="variablecosts-main">
		<h1 class="title">ボーナスのとうろく</h1>
		<h2 class="menu">メニュー</h2>
		<%= link_to "ボーナスとうろく", :new_variablecost,class:"link-btn" %>
		<%= link_to "さいしょのがめんにもどるよ", :root,class:"link-btn" %>
		<% if @variablecosts.present? %>
		<table  border="1" width="100%" style="table-layout: fixed;">
				<ul class="list">
					<li class="list__name">なまえ</li>
					<li class="list__name">ないよう</li>
      		<li class="list__name">そうさ</li>
				</ul>
			<tbody>
				<% @variablecosts.each do |variablecost| %>
					<tr>
						<td class="list-record"><%= variablecost.name %></td>
						<td calss="list-record"><%= variablecost.description %></td>
						<td>
						<%= link_to "へんしゅう", [:edit, variablecost],class:"link-btn2" %>
						<%= link_to "さくじょ", variablecost, method: :delete,class:"link-btn2",
							data: { confirm: "ほんとうにけしていい？"} %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
	
	<% else %>
		<p>まだボーナスはないよ！</p>
	<% end %>