<h1>ボーナスのとうろく</h1>
 
<h2>メニュー</h2>
<ul>
	<li><%= link_to "ここからボーナスをとうろくしよう！", :new_variablecost %></li>
</ul>	
<ul>
<li><%= link_to "さいしょのがめんにもどるよ", :root %></li>
</ul>
 
<% if @variablecosts.present? %>
<table>
	<thead>
		<tr>
			<th>かもく</th>
			<th>きんがく</th>
			<th>そうさ</th>
		</tr>
	</thead>
	<tbody>
		<% @variablecosts.each do |variablecost| %>
			<tr>
				<td><%= variablecost.name %></td>
				<td><%= variablecost.description %></td>
				<td>
				<%= link_to "ここからへんしゅう", [:edit, variablecost] %>
				<%= link_to "ここからけせるよ", variablecost, method: :delete,
					data: { confirm: "ほんとうにけしていい？"} %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
 
<% else %>
	<p>まだボーナスはないよ！</p>
<% end %>




