	<%= link_to "つかったおかねにもどる", :fixedcosts,class:"link-btn" %>
		<table align="center">
		 <tr>
			 <th><%= form.label :name, "なまえ",class:"new-name" %></th>
			 <td><%= form.text_field :name,class:"new-name" %></td>
		 </tr>
		 <tr>
		  <th><%= form.label :description, "日付/きんがく",class:"new-much" %></th>
			<td><%= form.text_field :description,class:"new-much" %></td>
		 </tr>
		</table>
