<h2>つかったおかねのとうろくがめん</h2>
<%= @page_title %>
 
<%= link_to "ここからつかったおかねをとうろくしよう！", :new_fixedcost %>
<%= link_to "さいしょのがめんにもどるよ", :root %>
 
<% if @fixedcosts.present? %>
<table>
	<thead>
		<tr>
			<th>つかったこと</th>
			<th>きんがく</th>
			<th>そうさ</th>
		</tr>
	</thead>
	<tbody>
		<% @fixedcosts.each do |fixedcost| %>
			<tr>
				<td><%= fixedcost.name %></td>
				<td><%= fixedcost.description %></td>
				<td>
				<%= link_to "ここからへんしゅう", [:edit, fixedcost] %>
				<%= link_to "ここからけせるよ", fixedcost, method: :delete,
					data: { confirm: "ほんとうにけしていい？"} %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
 
<% else %>
	<p>まだつかったおかねはないよ！</p>
<% end %>




