<div class="fixedcosts-image">	
	<div class="fixedcosts-main">
		<h1 class="title-rainbow">つかったおかね</h1>
		<h2 class="fixedcosts-main__menu">メニュー</h2>
		<%= link_to "つかったお金をとうろくしよう！", :new_fixedcost,class:"link-btn" %>
		<%= link_to "さいしょのがめんにもどるよ", :root,class:" link-btn" %>
		<% if @fixedcosts.present? %>
		<table border="1" width="100%" style="table-layout: fixed;">
			<thead>
				<ul class="list">
					<li class="list__name">つかったこと</li>
					<li class="list__name">日付/きんがく</li>
					<li class="list__name">そうさ</li>
				</ul>
			</thead>
			<tbody >
				<% @fixedcosts.each do |fixedcost| %>
					<tr>
						<td class="list-record"><%= fixedcost.name %></td>
						<td class="list-record"><%= fixedcost.description %></td>
						<td>
						<%= link_to "へんしゅう", [:edit, fixedcost],class:"link-btn3"%>
						<%= link_to "さくじょ", fixedcost, method: :delete,class:"link-btn3",
							data: { confirm: "ほんとうにけしていい？"} %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
	
	<% else %>
		<p>まだつかったおかねはないよ！</p>
	<% end %>




