<h2>お仕事データの修正 </h2>

		<%= form_for @income_value do |form| %>
		<table>
			<tr>
				<th>日付</th>
		    <th>名前</th>
		    <th>金額</th>
		  </tr>

		 <tr>
			 <td><%= form.date_select :year_month,
	 						start_year: 2010, end_year: Time.current.year,
	 						use_month_numbers: true, discard_day: true %></td>
			 <th><%= @income.name %></th>
	 		 <td><%= form.text_field :value %></td>
	 		 <td><%= form.text_field :description %></td>
		 </tr>
		</table>
		<div><%= form.submit %></div>
		<% end %>