<% require 'active_support/core_ext/numeric/conversions' %>
<h1>新しい仕事の設定</h1>
<p>日付の設定</p>
<%= form_tag({controller: :income_values, action: :new}, {method: :post}) do %>
	<input type="month" name="year_month">
	<input type="submit">
<% end %>

<h2>仕事データ一覧 </h2>
<% if @income_values.present? %>
<table>
  <tr>
    <th>日付</th>
    <th>名前</th>
    <th>金額</th>
		<th>操作</th>
  </tr>
	<% @income_values.each do |income_value| %>
	<tr>
		<td><%= income_value.year_month.strftime('%Y年%m月') %></td>
		<td><%= @incomes.find(income_value.income_id).name %></td>
		<td><%= income_value.value.to_s(:delimited) %> 円</td>
		<td><%= income_value.description %></td>
		<td>
		<%= link_to "編集", [:edit, income_value] %> |
		<%= link_to "削除", income_value, method: :delete,
			data: { confirm: "本当に消しますか"} %>
		</td>
	</tr>
	<% end %>
</table>
<% else %>
	<p>何も登録されていません</p>
<% end %>